/*Universal Styling****************************************************/

* {
  margin:0;
  padding:0;
  border:0;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #f2985b;
}

p,
a {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding-top: 110px;
  min-height: 78vh;
}

main {
  background-color: #f5f4f4;
}

 /*Header Styling*******************/

header {
  background-color: #DAE8F8;
  padding: 15px 15px 0px;
  position: fixed;
  width: 100%;
}

.logo-top {
  display: inline-block;
  width: 30%;
}

.logo-top img {
  width: 35%;
}

header nav {
  display: inline-block;
  width: 67%;
  text-align: right;
}


/*Menu Styling***********************/

.menu ul {
  list-style: none;
}

.menu >ul >li {
  display: inline-block;
  margin-bottom: 1px;
  position: relative;
  vertical-align: top;
}

.menu ul li a {
  color: #466288;
  display: inline-block;
  margin: 0px 20px;
  padding: 0px 2px 5px;
  text-decoration: none;
  font-weight: 500;
  transition: .2s;
}

.menu ul li a:hover {
  color: #f2985b;
  transition: .2s
}

.sub-menu {
  display: none;
}

.menu-item:hover .sub-menu {
  display: block;
  position: absolute;
  width: 100%;
  padding: 5px 1px 8px 0px;
  top: 25px;
  background: #dae8f8;
}

header nav a:hover {
  border-bottom: 2px solid #f2985b;
  transition: .2s;
}

.menu svg {
  position: relative;
  top: 2px;
  left: 1px;
}

/*Footer Styling******************************/

footer {
  background: #dae8f8;
  width: 100%;
}

footer p {
  display: inline-block;
  text-align: center;
  color: #466288;
  font-weight: 500;
  width: 30%;
}

footer a {
  color: #466288;
  margin: 0 5px;
  font-size: 19px;
  transition: .2s;
}

footer a:hover {
  color: #f2985b;
  transition: .2s;
}

.bottom {
  text-align: center;
  padding: 4px 0px;
}

.logo-bottom {
  padding: 4px 0px;
  width: 33%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.connect {
  float: none;
  text-align: right;
}

/*Home-page-Styling**************************************************/

/*Speech Bubble Styling*************************/

.box {
  width: 300px;
  margin: 41px auto;
  background: #ffffff;
  padding: 20px;
  text-align: left;
  font-weight: 500;
  color: #466288;
  font-family: 'Raleway', sans-serif;
  position: relative;
  border-color: #f2985b;
  border-width: medium;
  border-style: solid;
  border-radius: 12px;
  line-height: 22px;
}

.sb1:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #f2985b;
  border-right: 10px solid transparent;
  border-top: 10px solid #f2985b;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.sb1:after {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  right: -11px;
  top: 10px;
}

.box:first-line {
  color: #f2985b;
  font-size: 19px;
}

span {
  font-family: 'pacifico';
  font-size: 26px;
}

/*Main-Homepage Styling*************************/

.me-right-half, .left-half {
  display: inline-block;
  width: 45%;
  margin-right: 70px;
}

.me-right-half img {
  width: 90%;
  padding: 20px 0 0 10px;
}

.left-half {
  padding: 74px 25px;
  float: left;
  width: 35%;
  position: relative;
  left: 73px;
}

.button {
  padding: 35px 0;
}

.button p {
  margin: 0 auto;
  text-align: center;
  max-width: 60px;
  background-color: #466288;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
}

/*Contact-page-Styling**************************************************/

/*Main-Contact Page Styling*************************/

.me-righthalf-contact,
.left-half-contact {
  width: 45%;
  display: inline-block;
}

.me-righthalf-contact {
  float: right;
}

.me-righthalf-contact img {
  width: 85%;
  padding: 28px 0 35px 10px;
}

.left-half-contact {
  padding: 9px 5px;
  float: left;
  width: 40%;
  margin-left: 65px;
}

.contact-section h1 {
  padding: 0px 0px 15px;
  font-size: 35px;
}

/*Contact Form Styling*************************/

.label_input_wrap {
  display:block;
  padding-bottom: 4px;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #7a8ea8;
  padding: 8px 11px;
  border-radius: 4px;
}

.contact-form {
  max-width: 500px;
  color: #466288;
  font-weight: 500;
  font-family: 'Raleway';
}

.contact-form div {
  margin-bottom: 10px;
}

.contact-form p {
  padding-bottom: 4px;
}

textarea {
  font-family: 'Raleway';
}

.submit input {
  background: #466288;
  color: white;
  font-family: 'Raleway';
  padding: 7px 16px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
}
