/*Universal Styling*****************/

* {
  margin:0;
  padding:0;
  border:0;
}

h1 {
  font-family: 'Pacifico', cursive;
}

p,
a {
  font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1024px;
    margin: auto;
}

main {
    min-height: 80vh;
    margin: 4%;
}

 /*Header Styling*******************/

header {
    background-color: #DAE8F8;
    padding: 18px 15px 2px;
}

.logo-top {
    display: inline-block;
    width: 30%;
}

header nav {
    display: inline-block;
    width: 67%;
    text-align: right;
}


/*Menu Styling***********************/

.menu ul {
    list-style: none;
}

.menu >ul >li {
    display: inline-block;
    margin-bottom: 1px;
    position: relative;
    vertical-align: top;
}

.menu ul li a {
    color: #466288;
    display: block;
    margin: 0px 20px;
    padding: 0px 2px 5px;
    text-decoration: none;
    font-weight: 500;
    transition: .2s;
}

.menu ul li a:hover {
    color: #f2985b;
    transition: .2s
}

.sub-menu {
    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    width: 100%;
    padding: 7px 8px 5px 1px;
    top: 27px;
    background: #dae8f8;
}

header nav a:hover {
    border-bottom: 2px solid #f2985b;
    transition: .2s;
}

/*Homepage Styling*************************/

.me-right-half,
.left-half {
    width: 45%;
    display: inline-block;
}

.me-right-half img {
    width: 100%;
}

.left-half {
    vertical-align: top;
    padding: 150px 20px;
    float: left;
}

/*Footer Styling******************************/

footer {
    background: #dae8f8;
}
